// colors

// https://flatuicolors.com/palette/es

$black: #2c2c54;
$white: #d1ccc0;

$faint-gray: rgba($black, 0.05);
$light-gray: rgba($black, 0.25);
$medium-gray: rgba($black, 0.45);
$dark-gray: rgba($black, 0.65);
$darkest-gray: rgba($black, 0.85);

$border-gray: rgba($black, 0.15);

$faint-white: rgba($white, 0.15);
$light-white: rgba($white, 0.3);
$medium-white: rgba($white, 0.45);
$heavy-white: rgba($white, 0.65);
$heaviest-white: rgba($white, 0.85);

//$solid-faint-gray: scale-color($black, $lightness: 92%);

$desaturate: -20;
$darken: -20%;
$lighten: 20%;
$contrast-threshold: 0.5;

$colors: (
    primary: #D32F2F,
    warning: #FB8C00,
    success: #4CAF50,
    failure: #D32F2F,
    disabled: $light-gray,
    faded: $faint-gray,
);

$theme-color: $white;

// animations

$default-easing: ease-out;
$fadein-easing: ease-in;
$swing-easing: cubic-bezier(0.7,0.2,0.3,1);

$lightning-speed: 0.15s;
$fast-speed: 0.25s;
$medium-speed: 0.45s;
$slow-speed: 0.85s;
$sluggish-speed: 1.5s;

$hover-transition:
    background-color $lightning-speed $default-easing,
    border-color $lightning-speed $default-easing,
    color $lightning-speed $default-easing,
    opacity $lightning-speed $default-easing,
    box-shadow $lightning-speed $default-easing;
$size-transition:
    width $medium-speed $default-easing,
    height $medium-speed $default-easing;

// box shadows

$soft-shadow-close: 0 0.125rem 0.25rem rgba(0,0,0,0.025);
$soft-shadow-far: 0 0.25rem 1rem rgba(0,0,0,.025);
$soft-shadow:
    $soft-shadow-close,
    $soft-shadow-far;

$halo-shadow-close: 0 0 0.25rem rgba(0,0,0,0.025);
$halo-shadow-far: 0 0 1rem rgba(0,0,0,.025);
$halo-shadow:
    $halo-shadow-close,
    $halo-shadow-far;

$raised-shadow-close: 0 0.125rem 0.5rem rgba(0,0,0,0.085);
$raised-shadow-far: 0 0.3125rem 1.25rem rgba(0,0,0,0.035);
$raised-shadow:
    $raised-shadow-close,
    $raised-shadow-far;

$floating-shadow-close: 0 0.25rem 0.5rem rgba(0,0,0,0.035);
$floating-shadow-far: 0 0.5rem 1.25rem rgba(0,0,0,0.075);
$floating-shadow:
    $floating-shadow-close,
    $floating-shadow-far;

$button-shadow-close: 0 0.125rem 0.3125rem rgba(0,0,0,0.05);
$button-shadow: $button-shadow-close;

// dimensions

$app-min-width: 320px;

$border-radius: 0.1875rem;

$vertical-padding: 0.5rem;
$horizontal-padding: 0.75rem;

$vertical-margin:  1rem;
$horizontal-margin:  1rem;

// typography

$font-family: 'Fira Mono', monospace;
$headings-font-family: 'Fira Mono', monospace;
//$code-font-family: 'Fira Mono', monospace;

$headline-font-size: 3rem;

$headings: (
    all: (
        h1: 1.5rem,
        h2: 1.5rem,
        h3: 1.25rem,
    ),
    medium: (
        h1: 2rem,
        h2: 1.5rem,
        h3: 1.25rem,
    ),
    large: (
        h1: 3rem,
        h2: 2rem,
        h3: 1.5rem,
    )
);

$root-font-size: 100%;
$font-size: 1.125rem;
$smallest-font-size: 0.875rem;
$small-font-size: 1rem;
$large-font-size: 1.25rem;

$line-height: 1.625;
$headings-line-height: 1.4;

$font-weight-normal: 400;
$font-weight-bold: 700;
//$font-weight-extrabold: 900;

$alignments: (left, right, center);
$flex-align-items: (flex-start, flex-end, center, baseline, stretch);
$flex-align-content: (flex-start, flex-end, center, space-between, space-around, stretch);
$flex-justify-content: (flex-start, flex-end, center, space-between, space-around, space-evenly);
$displays: (none, block, inline, inline-block, flex, inline-flex);


// buttons

$button-padding: 0.6875rem 1rem;
$inline-button-padding: 0.25rem 0;
$small-button-padding: 0.5rem 0.75rem;
$large-button-padding: 0.875rem 1.25rem;
$button-border-radius: $border-radius;

// tooltips

$tooltip-padding: $button-padding;
$tooltip-border-radius: $border-radius;

// labels

$label-padding: 0.375rem 0.875rem;
$label-border-radius: 2rem;

// grid

$grid-columns: 12;
$grid-gap: 1.25rem;
$grid-max-width: 1600px;

// media queries

$breakpoints: (
    all: 0,
    small: 600px,
    medium: 900px,
    large: 1200px,
    huge: 1800px
);

$paddings: (
    all: ( vertical: 1rem, horizontal: 1.5rem ),
    default: ( vertical: 0.5rem, horizontal: 0.75rem ),
    small: ( vertical: 0.5rem, horizontal: 0.75rem ),
    medium: ( vertical: 0.75rem, horizontal: 1.25rem ),
    large: ( vertical: 1.0rem, horizontal: 1.5rem ),
    huge: ( vertical: 1.0rem, horizontal: 2.25rem )
);

// layers

$layers: (
    back: -1,
    base: 0,
    sticky: 2,
    fixed: 4,
    tooltip: 8,
    modal: 10,
);

// tables

$table-cell-padding: 0.5rem 0.75rem;